/*
Your styles should go in here.
Use any styles of your choosing, the solution should support the latest browsers -1.
*/

/*Make parent element a flex container*/
/* main{
    flex: 1 0 auto;
} */

body {
    background-color: DodgerBlue;
    padding-top: 22px;
    display: flex; 
    flex-direction: column; /*Stack the flex-items */
    align-items: center;
  }

.content{
    display: flex;
    flex: 1 1 auto; /*this makes sure the section grows to fill the entire available space and shrinks too*/
    flex-direction: column;
}
.profile-head {
   /* flex: 0 0 280px;  */
   display: flex;  
   padding: 15px;
   background-color: #ffffff;
   height: 90px;
   width: 340px;
 }
 .profle-details{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    color: #fff;
    padding-left: 50px;
  }

  .name{
      font-weight: bold;
      color: black;
      margin: 15px 0 0 5px;
  }

  .address{
    color: rgb(165, 162, 162);
    margin: 5px 0 0 5px;
}

button {
    background-color: #F2F2F8;
    color: black;
    margin-top: 25px;
    padding: 10px 29px;
    text-align: center;
    text-decoration-color: black;
    display: inline-block;
    font-size: 10px;
    border-radius: 4px;
    font-weight: bold;
    align-items: center;
}

img{
    border-radius: 50%;
    width: 90px;
    height: auto;
}   

.line{
    width: 350px;
    height: 47px;
    border-bottom: 1px solid rgb(194, 187, 187);
    position: relative;
    left: -96px;
}

  p{
    font-family: verdana;
    padding-left: 12px
  }

  #block1 { /* Flex children items*/
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    margin: 8px;
    list-style: none;
    height: 120px;
    width: 360px;
  }

  h2{
      display: none;
  }
